.topbar{
    background-color:deepskyblue;
    height:55px;
    width:100%;
    position: absolute;
    top:0px;
    left:0px;
}
body{
    margin: 0 auto;
    padding:10px
}
.topB{
    background-color:deepskyblue;
    font-size:25px;
    width:100px;
    color:white;
    margin:10px;
    border:none;
    height:30px;
    transition: background-color 1s; 
    transition: font-size 1s;  
}
.topB:hover{
    background-color:rgb(4, 168, 223);
    font-size:22px;
    color:white;
    height:30px;
    margin:10px;
    border:none;
}