.topbar{
    background-color:deepskyblue;
    height:60px;
    width:100%;
    position: absolute;
    top:0px;
    left:0px;
}
body{
    margin: 0 auto;
    padding:10px
}
.topB{
    background-color:deepskyblue;
    font-size:20px;
    width:100px;
    color:white;
    margin:10px;
    border:none;
    height:40px;
    transition: background-color 1s; 
}
.topB:hover{
    background-color:#336cc9;
    color:white;
    height:40px;
    margin:10px;
    border:none;
    font-size:20px;
}
#search{
    border:none;
    border-radius: 5px;
    padding:5px;
    width:50px;
    transition: width 1s;
}

#search:focus{
    border-radius: 5px;
    padding:5px;
    width:150px;
}