.topbar{
    background-color:deepskyblue;
    height:55px;
    width:100%;
    position: absolute;
    top:0px;
    left:0px;
}
body{
    margin: 0 auto;
    padding:10px
}
.topB{
    font-size:20px;
    color:white;
    background-color:inherit;
    margin:10px;
    background-color: inherit;
    border:none;
}
.topB:hover{
    font-size:20px;
    color:white;
    background-color:inherit;
    margin:10px;
    border:none;
}