.topbar{
    background-color:deepskyblue;
    height:55px;
    width:100%;
}
body{
    margin: 0 auto;
}
.topB{
    font-size:20px;
    color:white;
    border:6px inset rgb(4, 177, 235);
    background-color:inherit;
    margin:10px;
}
.topB:hover{
    font-size:20px;
    color:white;
    border:6px outset rgb(4, 177, 235);
    background-color:inherit;
    margin:10px;
}